fastapi
uvicorn
python-multipart
jinja2
weasyprint
PyMuPDF
openai==0.28
python-dotenv
reportlab
transformers
tqdm
streamlit
pandas
python-docx
streamlit-aggrid
tiktoken
reportlab>=4.0.0
requests>=2.25.0